.products {
    text-align: center;
}

.products__title {
    font-size: 36px;
    margin-bottom: 30px;
}

.products__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.product-card {

    width: 300px;
    height:auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.product-card__image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.product-card__title {
    font-size: 24px;
}

.product-card__description {
    font-size: 16px;
}

.product-card__price {
    font-size: 18px;
    font-weight: bold;
}
.product-card__kart:hover {
    background-color: black;
}

.product-card__kart {
    width: 30%;
    bottom: 0;
}

